
.bgOpacity {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.modal {
    text-align: center;
    padding: 20px 20px;
    border: 1px solid rgb(197, 37, 91);
    border-radius: 6px;
    width: 350px;
    position: absolute;
    top: 250px;
    left: 38%;
    z-index: 2;
    background-color: rgb(189, 187, 187);
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

